@font-face {
   font-family: 'Domine Normal';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src:  url(/fonts/Domine/Domine-Regular.ttf),
         local('Domine'), local('Domine-Regular'), 
         url(https://fonts.gstatic.com/s/domine/v7/L0x8DFMnlVwD4h3hu_qnZypEiw.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

 @font-face {
   font-family: 'Domine Bold';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src:  url(/fonts/Domine/Domine-Bold.ttf),
         local('Domine Bold'), local('Domine-Bold'), 
         url(https://fonts.gstatic.com/s/domine/v7/L0x_DFMnlVwD4h3pAN-ySghJoXi-Xw.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

 @font-face {
   font-family: 'Ubuntu Italic';
   font-style: italic;
   font-weight: 300;
   font-display: swap;
   src:  url(/fonts/Ubuntu/Ubuntu-LightItalic.ttf),
         local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), 
         url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejZftVyPN4FNgYUJ.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

 @font-face {
   font-family: 'Ubuntu Normal';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src:  url(/fonts/Ubuntu/Ubuntu-Regular.ttf),
         local('Ubuntu Regular'), local('Ubuntu-Regular'), 
         url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

 @font-face {
   font-family: 'Ubuntu Bold';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src:  url(/fonts/Ubuntu/Ubuntu-Bold.ttf),
         local('Ubuntu Bold'), local('Ubuntu-Bold'),
         url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

:root {
   --blu1: rgba(61, 95, 140, 1);
   --black: rgba(28, 47, 63, 1);
   --blu2: rgba(149, 171, 191, 1);
   --orng: rgba(216, 100, 58, 1);
   --red: rgba(165, 59, 49, 1);
}

/*----- FONTS -----*/
/* Domine Normal, Domine Bold, Ubuntu Italic, Ubuntu Normal, Ubuntu Bold */

html {
   background-color: var(--black);
   font-size: 10px;
   width: 100%;
   margin: 0;
   padding: 0;
}

h1 {
   font-family: 'Ubuntu Bold', sans-serif;
   font-size: 3rem;
   color: var(--orng);
}

h2 {
   font-family: 'Ubuntu Normal', sans-serif;
   font-size: 2rem;
   color: var(--blu2);
   text-transform: lowercase;
}

h3 {
   font-family: 'Ubuntu Normal', sans-serif;
   font-size: 2rem;
   color: var(--orng);
}

h4 {
   font-family: 'Domine Normal', sans-serif;
   font-size: 1.25rem;
   color: var(--orng);
}

a {
   text-decoration: none;
   color: var(--blu2);
   font-family: 'Ubuntu Normal', sans-serif;
   font-size: 2rem;
   text-align: center;
}

/*----- HEADER -----*/
#month-container {
   padding: 10px 0;
   box-shadow: 0 0 20px var(--blu1), 0 0 10px var(--blu2);
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
}

#month-container h2 {
   font-size: 3rem;
   text-align: left;
   margin-left: 50px;
}

#month-container h1 {
   font-size: 10rem;
   text-transform: uppercase;
   justify-self: flex-end;
   margin-right: 50px;
}


/*----- MONTH -----*/
.month {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   grid-template-rows: repeat(6, 1fr);
   grid-gap: 30px;
   align-items: stretch;
   justify-items: stretch;
   justify-content: flex-start;
   grid-auto-flow: row;
   margin: 50px;
   margin-top: 80px;
}

.day {
   background-color: var(--black);
   box-shadow: 0 0 10px var(--orng);
   padding: 15px 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   display: grid;
   grid-template-rows: 40px repeat(7, 1fr);
   grid-template-columns: 40px 1fr;
   grid-gap: 10px 0;
   justify-content: flex-start;
   align-items: center;
}


.day h2 {
   grid-column: 1 / -1;
   align-self: flex-start;
   padding-bottom: 8px;
   border-bottom: dotted 1px var(--blu2);
}

.day input {
   height: 20px;
   width: 20px;

}

.day label {
   display: grid;
   grid-template-columns: 30px 1fr;
   cursor: pointer;
}

.day h3 {
   justify-self: flex-end;
   align-self: center;
   padding: 0 10px;
   
}

.day h4 {
   align-self: center;
}

footer {
   margin: 20px 0 0 0;
   padding: 30px;
   background-color: var(--orng);
   text-transform: uppercase;
}

footer h1{
   text-align: center;
   color: var(--black);
}



@media screen and (max-width: 850px) {
   #month-container {
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      margin-right: -10px;
      margin-left: -10px;
      margin-top: -10px;
      padding: 5px;
   }

   #month-container h1 {
      margin: 0;
      font-size: 5rem;
   }

   #month-container h2 {
      margin: 0;
      text-align: center;
   }

   .month {
      margin: 20px;
      margin-top: 50px;
   }
}
